<div class="min-h-screen bg-gray-100 p-4">
  <header
    class="flex items-center justify-between py-4 px-6 bg-gradient-to-r from-blue-500 to-purple-600 shadow-md"
  >
    <h1 class="text-2xl font-bold text-white">Admin Dashboard</h1>
    <button
    (click)="logout()"
      class="px-4 py-2 text-sm font-semibold text-blue-600 bg-white rounded hover:bg-gray-100 focus:outline-none focus:ring focus:ring-white"
    >
      Logout
    </button>
  </header>

  <main class="mt-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold text-gray-800">Manage Users</h2>
      <input
      #usersearch
        (input)="searchUser(usersearch.value)"
      type="text"
        placeholder="Search users..."
        class="px-4 py-2 text-sm border rounded w-1/3 focus:outline-none focus:ring focus:ring-blue-300"
      />
    </div>

    <div class="bg-white shadow-md rounded overflow-hidden">
      <table class="min-w-full table-auto">
        <thead class="bg-gray-200 text-gray-600 text-sm uppercase font-medium">
          <tr>
            <th class="py-3 px-6 text-left">ID</th>
            <th class="py-3 px-6 text-left">Name</th>
            <th class="py-3 px-6 text-left">Email</th>
            <th class="py-3 px-6 text-left">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
          @for (user of userData(); track user._id) {

          <tr
          (editClicked)="toggleEditFrom()"
            [userData]="user"
            [index]="$index"
            admin-dashborad-tr
            class="border-b border-gray-200 hover:bg-gray-100"
          ></tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mt-4 text-right">
      <button
      (click)="toggleAddForm()"
        class="px-4 py-2 text-sm font-semibold text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300"
      >
        Add New User
      </button>
    </div>
  </main>


  @if(openEditForm()) {
    <app-edit-form (close)="toggleEditFrom()" />
  }

  @if(openAddform()) {
    <app-add-form (close)="toggleAddForm()"></app-add-form>
  }

</div>
