<div class="bg-blue-600 text-white shadow-md">
  <div class="container mx-auto flex justify-between items-center p-4">

    <a class="text-2xl font-bold" routerLink="/">Home Page</a>

    <div class="flex items-center space-x-4">
      <div class="relative group">
        
        <img
          [src]="profileImage()"
          alt="Profile"
          class="w-8 h-8 rounded-full border-2 border-white cursor-pointer"
        />

        <div
          class="absolute right-0 mt-2 w-40 bg-white text-black rounded shadow-md opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          <a
            routerLink="/profile"
            class="block px-4 py-2 hover:bg-gray-200 text-sm"
          >
            View Profile
          </a>
          
          <a
           (click)="logout()"
            class="block px-4 py-2  hover:bg-gray-200 text-sm"
          >
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>