<div class="min-h-screen bg-gray-100 flex flex-col items-center py-10">
  <div class="bg-white shadow-md rounded-lg w-96 p-6">
    <div class="flex flex-col items-center">
      <div class="relative">
        <img
          alt="Profile Image"
          [src]="profileImage()"
          class="w-32 h-32 rounded-full object-cover border-2 border-gray-300"
        />
        <label
          for="profileImageInput"
          class="absolute bottom-0 right-0 bg-blue-500 text-white p-2 rounded-full cursor-pointer hover:bg-blue-600"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M17.414 2.586a2 2 0 00-2.828 0L6.829 10.343a1 1 0 00-.263.47l-.829 3.707a1 1 0 001.212 1.212l3.707-.829a1 1 0 00.47-.263l7.757-7.757a2 2 0 000-2.828L17.414 2.586zM11 12l-3.293 3.293a1 1 0 01-.219.162l-2.034.455.455-2.034a1 1 0 01.162-.219L8 9m4-1l3 3"
            />
          </svg>
        </label>
        <input
          id="profileImageInput"
          type="file"
          accept="image/*"
          class="hidden"
          (change)="handleFileSelection($event)"
          #fileInput
        >
      </div>
      <h2 class="mt-4 text-xl font-semibold text-gray-700">
        {{ userName() }}
      </h2>
      <p class="text-gray-500">
        {{ userEmail() }}
      </p>
    </div>

    <button
      (click)="uploadFile()"
      type="button"
      class="mt-4 w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600"
    >
      Update Profile
    </button>
  </div>
</div>
